schema - v2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="data">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:date" name="supply_date"/>
                <xs:element name="records">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="record" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="personalisation_flags">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:byte" name="trigger"/>
                                                    <xs:element type="xs:string" name="brander_code"/>
                                                    <xs:element type="xs:string" name="plan_category"/>
                                                    <xs:element type="xs:string" name="plan_type"/>
                                                    <xs:element type="xs:string" name="plan_version"/>
                                                    <xs:element type="xs:string" name="payment_type"/>
                                                    <xs:element type="xs:string" name="payment_party"/>
                                                    <xs:element type="xs:string" name="payment_status"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="letter_information">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="address_information">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="member">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="title"/>
                                                                            <xs:element type="xs:string" name="first_name"/>
                                                                            <xs:element type="xs:string" name="last_name"/>
                                                                            <xs:element type="xs:string" name="address"/>
                                                                            <xs:element type="xs:string" name="email"/>
                                                                            <xs:element type="xs:date" name="dob"/>
                                                                            <xs:element type="xs:string" name="religion"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="funeral_director">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="title" minOccurs="0"/>
                                                                            <xs:element type="xs:string" name="business_name"/>
                                                                            <xs:element type="xs:string" name="address"/>
                                                                            <xs:element type="xs:string" name="email"/>
                                                                            <xs:element type="xs:string" name="phone"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="representative">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="title"/>
                                                                            <xs:element type="xs:string" name="first_name"/>
                                                                            <xs:element type="xs:string" name="last_name"/>
                                                                            <xs:element type="xs:string" name="address"/>
                                                                            <xs:element type="xs:string" name="email"/>
                                                                            <xs:element type="xs:string" name="relationship"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="next_of_kin" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="title"/>
                                                                            <xs:element type="xs:string" name="first_name"/>
                                                                            <xs:element type="xs:string" name="last_name"/>
                                                                            <xs:element type="xs:string" name="address"/>
                                                                            <xs:element type="xs:string" name="email"/>
                                                                            <xs:element type="xs:string" name="relationship"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="grave_owner" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="title"/>
                                                                            <xs:element type="xs:string" name="first_name"/>
                                                                            <xs:element type="xs:string" name="last_name"/>
                                                                            <xs:element type="xs:string" name="address"/>
                                                                            <xs:element type="xs:string" name="email"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="seller" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="title"/>
                                                                            <xs:element type="xs:string" name="business_name"/>
                                                                            <xs:element type="xs:string" name="address"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="financial_information">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="payment_method"/>
                                                                <xs:element type="xs:string" name="account_name" minOccurs="0"/>
                                                                <xs:element type="xs:short" name="account_number" minOccurs="0"/>
                                                                <xs:element type="xs:int" name="sort_code" minOccurs="0"/>
                                                                <xs:element type="xs:float" name="upfront_payment" minOccurs="0"/>
                                                                <xs:element type="xs:float" name="discount" minOccurs="0"/>
                                                                <xs:element type="xs:short" name="dd_amount" minOccurs="0"/>
                                                                <xs:element type="xs:float" name="dd_monthly_payment"/>
                                                                <xs:element type="xs:string" name="dd_start_month"/>
                                                                <xs:element type="xs:string" name="sp_overpayment" minOccurs="0"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="plan_details">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="promotion" minOccurs="0"/>
                                                                <xs:element type="xs:string" name="rbl_donation"/>
                                                                <xs:element type="xs:int" name="plan_number"/>
                                                                <xs:element type="xs:date" name="date_signed"/>
                                                                <xs:element type="xs:date" name="application_date"/>
                                                                <xs:element type="xs:date" name="start_date"/>
                                                                <xs:element type="xs:string" name="five_year_guarantee"/>
                                                                <xs:element type="xs:string" name="service"/>
                                                                <xs:element type="xs:byte" name="car_number"/>
                                                                <xs:element name="church" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute type="xs:string" name="name"/>
                                                                                <xs:attribute type="xs:string" name="clergy"/>
                                                                                <xs:attribute type="xs:int" name="telephone"/>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="Burial" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute type="xs:string" name="cemetery"/>
                                                                                <xs:attribute type="xs:string" name="coffin_type"/>
                                                                                <xs:attribute type="xs:string" name="grave_owned"/>
                                                                                <xs:attribute type="xs:string" name="grave_class"/>
                                                                                <xs:attribute type="xs:string" name="grave_section"/>
                                                                                <xs:attribute type="xs:short" name="lair_number"/>
                                                                                <xs:attribute type="xs:short" name="certificate_number"/>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="Cremation" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute type="xs:string" name="crematorium"/>
                                                                                <xs:attribute type="xs:string" name="urn_type"/>
                                                                                <xs:attribute type="xs:string" name="disposal"/>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element type="xs:string" name="memorial_type" minOccurs="0"/>
                                                                <xs:element type="xs:string" name="additional_information"/>
                                                                <xs:element type="xs:string" name="third_party_allowance" minOccurs="0"/>
                                                                <xs:element type="xs:string" name="disclaimer"/>
                                                                <xs:element type="xs:string" name="tc"/>
                                                                <xs:element type="xs:string" name="freeform_text" minOccurs="0"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
