schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="data">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:date" name="supply_date"/>
                <xs:element name="records">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="record" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="personalisation_flags">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:integer" name="trigger"/>
                                                    <xs:element type="xs:string" name="brander_code"/>
                                                    <xs:element type="xs:string" name="plan_type"/>
                                                    <xs:element type="xs:string" name="plan_version"/>
                                                    <xs:element type="xs:string" name="payment_type"/>
                                                    <xs:element type="xs:string" name="payment_party"/>
                                                    <xs:element type="xs:string" name="payment_status" minOccurs="0"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="membership_pack">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="address_information">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="member">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="title"/>
                                                                            <xs:element type="xs:string" name="first_name"/>
                                                                            <xs:element type="xs:string" name="last_name"/>
                                                                            <xs:element type="xs:string" name="address"/>
                                                                            <xs:element type="xs:string" name="email" minOccurs="0"/>
                                                                            <xs:element name="dob">
                                                                                <xs:simpleType>
                                                                                    <xs:union>
                                                                                        <xs:simpleType>
                                                                                            <xs:restriction base="xs:date"/>
                                                                                        </xs:simpleType>
                                                                                        <xs:simpleType>
                                                                                            <xs:restriction base="xs:string">
                                                                                                <xs:enumeration value=""/>
                                                                                            </xs:restriction>
                                                                                        </xs:simpleType>
                                                                                    </xs:union>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element type="xs:string" name="phone" minOccurs="0"/>
                                                                            <xs:element type="xs:string" name="religion" minOccurs="0"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="funeral_director">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="name"/>
                                                                            <xs:element type="xs:string" name="old_name" minOccurs="0"/>
                                                                            <xs:element type="xs:string" name="address"/>
                                                                            <xs:element type="xs:string" name="old_address" minOccurs="0"/>
                                                                            <xs:element type="xs:string" name="email" minOccurs="0"/>
                                                                            <xs:element type="xs:string" name="phone" minOccurs="0"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="representative" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="title"/>
                                                                            <xs:element type="xs:string" name="first_name"/>
                                                                            <xs:element type="xs:string" name="last_name"/>
                                                                            <xs:element type="xs:string" name="address"/>
                                                                            <xs:element type="xs:string" name="email" minOccurs="0"/>
                                                                            <xs:element type="xs:string" name="phone" minOccurs="0"/>
                                                                            <xs:element type="xs:string" name="relationship"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="next_of_kin" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="title"/>
                                                                            <xs:element type="xs:string" name="first_name"/>
                                                                            <xs:element type="xs:string" name="last_name"/>
                                                                            <xs:element type="xs:string" name="address"/>
                                                                            <xs:element type="xs:string" name="email" minOccurs="0"/>
                                                                            <xs:element type="xs:string" name="phone" minOccurs="0"/>
                                                                            <xs:element type="xs:string" name="relationship"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="grave_owner" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="title"/>
                                                                            <xs:element type="xs:string" name="first_name"/>
                                                                            <xs:element type="xs:string" name="last_name"/>
                                                                            <xs:element type="xs:string" name="address"/>
                                                                            <xs:element type="xs:string" name="email" minOccurs="0"/>
                                                                            <xs:element type="xs:string" name="phone" minOccurs="0"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="seller" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="name"/>
                                                                            <xs:element type="xs:string" name="address"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="financial_information">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="account_name" minOccurs="0"/>
                                                                <xs:element type="xs:string" name="account_number" minOccurs="0"/>
                                                                <xs:element type="xs:string" name="sort_code" minOccurs="0"/>
                                                                <xs:element type="xs:string" name="amount" minOccurs="0"/>
                                                                <xs:element type="xs:string" name="discount" minOccurs="0"/>
                                                                <xs:element type="xs:float" name="dd_amount" minOccurs="0"/>
                                                                <xs:element type="xs:float" name="dd_monthly_payment" minOccurs="0"/>
                                                                <xs:element type="xs:string" name="dd_start_month" minOccurs="0"/>
                                                                <xs:element type="xs:float" name="sp_overpayment" minOccurs="0"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="plan_details">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="plan_category" minOccurs="0"/>
                                                                <xs:element name="promotion" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:attribute type="xs:date" name="date" use="required"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element type="xs:float" name="rbl_donation" minOccurs="0"/>
                                                                <xs:element type="xs:int" name="plan_number"/>
                                                                <xs:element type="xs:date" name="date_signed"/>
                                                                <xs:element type="xs:date" name="application_date"/>
                                                                <xs:element type="xs:date" name="start_date"/>
                                                                <xs:element name="five_year_guarantee" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:attribute type="xs:date" name="start_date" use="required"/>
                                                                        <xs:attribute type="xs:date" name="end_date" use="required"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element type="xs:float" name="sum_assured" minOccurs="0"/>
                                                                <xs:element type="xs:float" name="sum_assured_plus" minOccurs="0"/>
                                                                <xs:element type="xs:float" name="funeral_benefit_value" minOccurs="0"/>
                                                                <xs:element type="xs:float" name="funeral_benefit_value2" minOccurs="0"/>
                                                                <xs:element type="xs:int" name="policy_number" minOccurs="0"/>
                                                                <xs:element type="xs:string" name="plan_value_statement" minOccurs="0"/>
                                                                <xs:element type="xs:string" name="sfs_partner" minOccurs="0"/>
                                                                <xs:element type="xs:float" name="gc_contribution" minOccurs="0"/>
                                                                <xs:element type="xs:string" name="service"/>
                                                                <xs:element type="xs:integer" name="car_number"/>
                                                                <xs:element name="church" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute type="xs:string" name="name" use="required"/>
                                                                                <xs:attribute type="xs:string" name="clergy" use="required"/>
                                                                                <xs:attribute type="xs:string" name="telephone" use="required"/>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:choice minOccurs="0" maxOccurs="1">
                                                                    <xs:element name="Cremation" minOccurs="0" maxOccurs="1">
                                                                        <xs:complexType>
                                                                            <xs:simpleContent>
                                                                                <xs:extension base="xs:string">
                                                                                    <xs:attribute type="xs:string" name="crematorium" use="required"/>
                                                                                    <xs:attribute type="xs:string" name="urn_type" use="required"/>
                                                                                    <xs:attribute type="xs:string" name="disposal" use="required"/>
                                                                                </xs:extension>
                                                                            </xs:simpleContent>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                    <xs:element name="Burial" minOccurs="0">
                                                                        <xs:complexType>
                                                                            <xs:simpleContent>
                                                                                <xs:extension base="xs:string">
                                                                                    <xs:attribute type="xs:string" name="cemetery" use="required"/>
                                                                                    <xs:attribute type="xs:string" name="grave_owned" use="required"/>
                                                                                    <xs:attribute type="xs:string" name="grave_class" use="required"/>
                                                                                    <xs:attribute type="xs:string" name="grave_section" use="required"/>
                                                                                    <xs:attribute type="xs:string" name="lair_number" use="optional"/>
                                                                                    <xs:attribute type="xs:string" name="certificate_number" use="optional"/>
                                                                                </xs:extension>
                                                                            </xs:simpleContent>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                </xs:choice>
                                                                <xs:element type="xs:string" name="coffin" minOccurs="0"/>
                                                                <xs:element type="xs:string" name="tc" minOccurs="0"/>
                                                                <xs:element type="xs:string" name="memorial_type" minOccurs="0"/>
                                                                <xs:element type="xs:string" name="additional_information" minOccurs="0" maxOccurs="1"/>
                                                                <xs:element type="xs:string" name="payment_method"/>
                                                                <xs:element type="xs:string" name="freeform_text" minOccurs="0" maxOccurs="1"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="fd_services" minOccurs="0" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="fd_row" minOccurs="1" maxOccurs="28">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute type="xs:string" name="name" use="required"/>
                                                                                <xs:attribute type="xs:float" name="value" use="required"/>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="disbursements" minOccurs="0" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="disbursement_row" minOccurs="1" maxOccurs="28">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute type="xs:string" name="name" use="required"/>
                                                                                <xs:attribute type="xs:float" name="value" use="required"/>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
